//my classes
$widget-border: 1px solid rgba(0, 0, 0, .22);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800');

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLTStd-MdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format("embedded-opentype"),
  url('../fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-MdCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Typography
h4 {
  font-family: 'HelveticaNeueLT', sans-serif;
  color: #565656;
  font-weight: 600;
  margin-top: 0;
}

html, body {
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%),
  linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%);
  background-size: .9em .9em;
  padding: 3rem 0;
  position: relative;
  @media all and (max-width: $screen-phone) {

  }
}

.screen-reader-text {
  display: none;
}

.dummy-container {
  background: #fff;
  max-width: 1007px;
  padding: 2em;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  border-top: solid 8px $brand-primary;
}
//Utilites

.wrap {
  @extend .container;
}
.logo-list {
  a {
    font-family: 'HelveticaNeueLT', sans-serif;
  }
  li {
    vertical-align: middle;
  }
}
.header-block {
  border-left: $widget-border;
  padding: .7rem 0 .7rem 1.5rem;
}


.test_excerpt_more, .collapsed-link span {
  background: black;
  color: white;
  padding: 2px 4px;
  text-align: right;
  margin-top: 1em;
  &.fa {
  }
}
.btn.btn-clear {
  border-radius: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2px 0 2px;
  font-size: 1.2rem;
  &.fa {
    padding: 0 3px;
  }
}

.collapsed-link {
  text-align: right;
}


.main-header {
  margin: 0;
  &.first-widget {
    margin: 0;
  }
  h1 {
    margin: 0;
    color: $brand-primary;
  }
  .sub-header {
    color: #777777;
  }
}

.widget {
  &_recent_entries {
    border-right: 1px solid rgba(0, 0, 0, .1);
    max-width: 95%;
    .widgettitle {
      text-transform: uppercase;
      font-family: 'HelveticaNeueLT', sans-serif;
      margin-bottom: 2em;
    }
    .recent {
      &-date {
        border-right: 1px solid rgba(0, 0, 0, .22);
        padding-right: 5px;
        margin-bottom: 0;
        li {
          margin-bottom: 0;
          &:nth-child(1) {
            color: $brand-primary;
            font-size: 135%;
            font-weight: 700;
            line-height: normal;
          }
          &:nth-child(2) {
            color: #777777;
            font-size: 80%;
            text-transform: uppercase;
          }
        }
      }
      &-text {
        max-width: 83%;
        padding-left: 0;
        margin-bottom: 0;
        a:nth-of-type(1) {
          color: #565656;
          font-weight: 700;
        }
        p {
          line-height: 1.3;
          margin-top: 2px;
        }
        p, a.link-more {
          color: #939393;
        }
      }
    }
  }
  &-recent-list {
    position: relative;
    margin-bottom: 1.5em;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1px;
      width: 92%;
      background: url("../images/dot.png");
    }
  }
  &_text {
    .widgettitle {
      font-family: 'HelveticaNeueLT', sans-serif;
      font-size: 1.6em;
      padding-left: 10%;
    }

    .textwidget {
      padding-left: 10%;
      border-left: 1px solid rgba(0, 0, 0, .22);
      li {
        position: relative;
        padding-bottom: 12px;
        padding-left: 36px;
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 28px;
          height: 28px;
          left: -5px;
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1px;
          width: 82%;
          background: url("../images/dot.png");
        }
      }
      li:nth-child(1)::before {
        background-image: url("../images/icons/phone.png");
      }
      li:nth-child(2)::before {
        background-image: url("../images/icons/fax.png");
      }
      li:nth-child(3)::before {
        background-image: url("../images/icons/mail.png");
      }
      li:nth-child(4)::before {
        background-image: url("../images/icons/address.png");
      }
      li:nth-child(3),
      li:nth-child(4) {
        color: #939393;
        font-family: 'MyriadProRegular', sans-serif;
        font-size: 1.1em;
        letter-spacing: 2px;
      }
      li:nth-child(1),
      li:nth-child(2) {
        font-size: 1.3em;
        font-weight: 700;
        margin-bottom: 7px;
        color: #757575;
      }
    }
  }
}
