//my classes
$widget-border: 1px solid rgba(0, 0, 0, .22);
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800');

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular.eot");
  src: url("../fonts/MyriadProRegular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MyriadProRegular.woff") format("woff"),
  url("../fonts/MyriadProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaNeueLT';
  src: url('../fonts/HelveticaNeueLTStd-MdCn.eot');
  src: url('../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format("embedded-opentype"),
  url('../fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'),
  url('../fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype'),
  url('../fonts/HelveticaNeueLTStd-MdCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

//Typography
h4, .entry-title, .archive-title {
  font-family: 'HelveticaNeueLT', sans-serif;
  color: #565656;
  font-weight: 600;
  margin-top: 0;
}
.entry-title, .archive-title {
  text-transform: uppercase;
}

html, body {
  min-height: 100%;
}

body {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%),
  linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%);
  background-size: .9em .9em;
  padding: 3rem 0;
  position: relative;
  @media all and (max-width: $screen-phone) {

  }
}

.screen-reader-text {
  display: none;
}

.dummy-container {
  background: #fff;
  max-width: 1007px;
  padding: 3em 2em 1px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.3);
  border-top: solid 8px $brand-primary;
}

//Utilites

.bold {
  font-weight: 700;
}
.semi-bold {
  font-weight: 600;
}

.block {
  display: block;
  &-align {
    &__center {
      margin: 0 auto;
    }
  }
  &-inline {
    display: inline-block;
  }
}
.bg {
  &__white {
    background: white;
  }
  &__lightgray {
    background-color: $gray-lighter;
  }
  &__gray {
    background-color: $input-border;
  }
}
.hr {
  background-color: $input-border;
}
.no {
  &__margin {
    margin: 0;
  }
  &__padding {
    padding: 0;
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.wrap {
  @extend .container;
}

//Collapse text buttons
.test_excerpt_more, .collapsed-link span {
  background: black;
  color: white;
  padding: 2px 4px;
  text-align: right;
  margin-top: 1em;
  &.fa {
  }
}

.btn.btn-clear {
  border-radius: 0;
  height: 2rem;
  line-height: 2rem;
  padding: 0 2px 0 2px;
  font-size: 1.2rem;
  &.fa {
    padding: 0 3px;
  }
}

.collapsed-link {
  text-align: right;
  &__gallery {
    float: right;
    margin-top: 15px;
    span {
      margin: 0;
    }
  }
}

.logo-list {
  border-right: 1px solid rgba(202,200,197,.99);
  a {
    font-family: 'HelveticaNeueLT', sans-serif;
  }
  li {
    vertical-align: middle;
  }
  &__no-border {
    border-right: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

.main-header {
  margin: 0;
  &.first-widget {
    margin: 0;
  }
  h1 {
    margin: 0;
    color: $brand-primary;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.6em;
  }
}

.header-block {
  padding: .7rem 0 0 1.5rem;
}

.header-block {
  .sub-header {
    color: #929292;
    font-family: 'MyriadProRegular', sans-serif;
    font-size: 1.1em;
    margin-bottom: 0;
  }
}

//Top Navbar
.navbar-default {
  border-left: none;
  border-right: none;
  text-transform: uppercase;
}

@media all and (max-width: $grid-float-breakpoint) {

}

@media all and (min-width: $grid-float-breakpoint) {
  .navbar-default {
    margin-top: 2em;
  }
  .navbar-collapse {
    padding-left: 0;
  }
  .navbar-nav {
    li:nth-child(1) {
      a {
        padding-left: 0;
      }
    }
    a {
      font-size: 1.4em;
    }
  }
}
//Bottom menu
.footer-menu {
  text-transform: uppercase;
  font-size: .7em;
  color: #535353;
  font-family: 'MyriadProRegular', sans-serif;
}
.copyright {
  font-size: .8em;
  color: #545454;
}

//Text
.article-header {
  margin-bottom: 3rem;
}

article {
  p {
    font-size: 1.1em;
    color: #3c3c3c;
  }
}
#main, #left-sidebar {
  margin-top: 5px;
}