.carousel-top {
  &__left {
    border: 1px solid #d4d4d4;
    .carousel-inner {
      padding-bottom: 3em;

    }
    .carousel {
      &-content {
        position: absolute;
        bottom: -3em;
        height: 3em;
        line-height: 3em;
        width: 100%;
        padding-left: 25%;
        font-weight: 600;
      }
      &-control {
        position: absolute;
        bottom: .5em;
        top: auto;
        font-size: 20px;
        color: #fff;
        text-align: center;
        text-shadow: none;
        width: 1.1em;
        height: 1.1em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 1;
        &.left {
          background-image: url("../images/icons/carousel-control-left.png");
          left: 1em;
        }
        &.right {
          background-image: url("../images/icons/carousel-control-right.png");
          right: 1em;
        }
      }
    }
  }
}
.carousel-border {
  padding: 1px;
  border: 1px solid #b0b0b0;
}