.widget-content,
.widget-inside {
  li {
    list-style: none;
  }
}

//for fun
#wpwrap {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%),
  linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.025) 50%, rgba(0, 0, 0, 0) 52%);
  background-size: .9em .9em;
  //background-color: white;
}
